# Workflow for building and preparing static content for deployment
name: Build for Appwrite Sites

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions
permissions:
  contents: read

jobs:
  # Single build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build
        env:
          VITE_APPWRITE_API_URL: ${{ vars.VITE_APPWRITE_API_URL }}
          VITE_APPWRITE_PROJECT_ID: ${{ vars.VITE_APPWRITE_PROJECT_ID }}

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tixo-web-dist
          path: './dist'
          retention-days: 7
